<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Refugio Mascotas'}) %>
<body>
    <header class="header">
        <div class="container">
          <div id="nav-externo">
            <!-- navegacion desde js -->
            <nav class="menu sombra">
                <div class="menu-esc" onclick="escMenu()">
                    <div class="barra"></div>
                    <div class="barra"></div>
                    <div class="barra"></div>
                </div>
                <ul class="menu-lista" id="menuLista">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="adopcion">Adopción</a></li>
                    <li><a href="nuestrosPerros">Nuestros Perros</a></li>
                    <li><a href="educacionCanina">Educación Canina</a></li>
                    <li><a href="contacto">Contáctanos</a></li>            
                    <!-- <li><a href="login/formLogin"><i class="fa-solid fa-circle-user"></i></a></li> -->
                    <li><a href="login/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
            
          </div>
        </div>
    </header>

   <div class="contenedorAdoptantes">
    <h1 class="tituloAdoptantes">Lista de Adoptantes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% adoptantes.forEach(adoptante => { %>
                <tr>
                    <td><%= adoptante.id %></td>
                    <td><%= adoptante.nombre %></td>
                    <td><%= adoptante.email %></td>
                    <td><%= adoptante.telefono %></td>
                    <td><%= adoptante.direccion %></td>
                    <td class="action-buttons">
                        <a href="/editar_adoptante/<%= adoptante.id %>" class="btn btn-edit">Editar</a>
                        <a href="/borrar_adoptante/<%= adoptante.id %>" class="btn btn-delete">Borrar</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
   </div>


    <%- include('../partials/footer') %>

</body>
</html>